[submodule "holiday-info"]
	path = holiday-info
	url = .\\holiday-info\\
[submodule "HolidayInfoAPI"]
	path = HolidayInfoAPI
	url = .\\HolidayInfoAPI\\
[submodule "HolidayInfoDB"]
	path = HolidayInfoDB
	url = .\\HolidayInfoDB\\
[submodule "HolidayInfoFunction"]
	path = HolidayInfoFunction
	url = .\\HolidayInfoFunction\\
